h1 {
    font-family: 'Permanent Marker', cursive;
}


.mainHeading {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-align: center;
}


.navItems {
    text-align: center;
    margin: 2em;
    padding: 2em;
}

.contact {
    text-align: center;
}

img {
    max-width: 100%;
    height: 250px;

}